{% if remotes.count < 1 %}
<p>No remotes set</p>
{% else %}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            {% for remote in remotes %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{remote.name}}
                </th>
                <td class="px-6 py-4">
                    {{remote.type}}
                </td>
                <td class="px-6 py-4">
                    TO-DO
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}