{% load custom_filters %}
{% if runningJobs.count < 1 %}
<p>No jobs running</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Elapsed Time</th>
        <th>Speed</th>
        <th>GB/Total GB</th>
    </tr>
    {% for job in runningJobs %}
    <tr onclick="window.location='{% url 'detail' job.id %}'">
        <td>{{job.id}}</td>
        <td>{{job.elapsedTime}}</td>
        <td>{{job.speed}}</td>
        <td>{{ job.bytes|divide:1000000000|floatformat:2 }} / {{ job.totalBytes|divide:1000000000|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
