{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mx-auto max-w-xl">
    <h1 class="block font-bold mt-2 text-3xl text-gray-900 dark:text-white">Send your feedback!</h1>
    <form action="" method="POST">
        {% csrf_token %}
    
        <h1 class="block mt-4 text-xl text-gray-900 dark:text-white">Category</h1>
        <p class="block mb-2 text-gray-900 dark:text-gray-300">Select the type of feedback you're submitting.</p>
        <div class="grid grid-cols-3 gap-2">
            {% for choice in form.category %}
            <label class="bg-gray-50 rounded-lg border border-gray-300 text-gray-900 text-sm block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
            hover:cursor-pointer dark:hover:bg-gray-800 dark:has-checked:bg-blue-500">
                    <input 
                        type="radio" 
                        class="hidden" 
                        name="{{ form.category.name }}" 
                        value="{{ choice.data.value }}"
                    >
                    <div class="flex flex-col">
                        <span class="font-bold">{{choice.data.label}}</span>
                    </div>
                </label>
            {% endfor %}
        </div>
        
        <h1 class="block mt-4 text-xl text-gray-900 dark:text-white">Message</h1>
        <p class="block mb-2 text-gray-900 dark:text-gray-300">Describe your feedback in detail. Let us know what's working well or what could be improved.</p>
        {{form.message}}
    
        <button name="submit" class="mt-2 rounded-lg hover:cursor-pointer text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Submit</button>
    </form>
</div>
{% endblock content %}