{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="{% static 'js/chartjs-plugin-zoom.js' %}"></script>

<div class="my-4">
    <a href="{% url 'sync:index' %}" class="rounded-lg p-2 text-gray-900 dark:text-white bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-700">Back to Home</a>
</div>

{% if isFinished %}
<div id="jobQuery" hx-get="{% url 'sync:jobQuery' jobId %}" hx-trigger="load"></div>
{% else %}
<div id="jobQuery" hx-get="{% url 'sync:jobQuery' jobId %}" hx-trigger="every 5s, load"></div>
{% endif %}

<div class="grid grid-cols-1 md:grid-cols-2 mb-4 gap-x-4 gap-y-4">
    <figure class="rounded-lg flex flex-col items-center justify-center p-2 text-center bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="w-full mb-2 text-gray-500 dark:text-gray-400">
            <canvas id="bytesChart"></canvas>
        </blockquote>  
        <button id="resetBytesZoom" class="mt-2 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Reset Zoom</button> 
    </figure>
    <figure class="rounded-lg flex flex-col items-center justify-center p-2 text-center bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="w-full mb-2 text-gray-500 dark:text-gray-400">
            <canvas id="transfersChart"></canvas>
        </blockquote>  
        <button id="resetTransfersZoom" class="mt-2 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Reset Zoom</button>
    </figure>
</div>

<script>
    var bytesChartElement = document.getElementById('bytesChart');
    var transfersChartElement = document.getElementById('transfersChart');
    var bytesChart, transfersChart;

    document.addEventListener('htmx:beforeSwap', function(event) {
        if (event.target.id === 'jobQueryChartsJS') {
            if (bytesChart) {
                bytesChart.destroy();
                bytesChart = null;
            }
            if (transfersChart) {
                transfersChart.destroy();
                transfersChart = null;
            }
        }
    });

    document.addEventListener('htmx:afterSwap', function(event) {
        if (event.target.id === 'jobQueryChartsJS') {
            bytesChartElement = document.getElementById('bytesChart');
            transfersChartElement = document.getElementById('transfersChart');
        }

        document.getElementById('resetTransfersZoom').addEventListener('click', function() {
            transfersChart.resetZoom();
        });

        document.getElementById('resetBytesZoom').addEventListener('click', function() {
            bytesChart.resetZoom();
        });
    });
</script>

{% if isFinished %}
<div id="jobQueryChartsJS" hx-get="{% url 'sync:jobQueryCharts' jobId %}" hx-trigger="load"></div>
{% else %}
<div id="jobQueryChartsJS" hx-get="{% url 'sync:jobQueryCharts' jobId %}" hx-trigger="every 15s, load"></div>
{% endif %}

<div id="jobQueryChartsJS"></div>
{% endblock content %}