{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="{% static 'js/chartjs-plugin-zoom.js' %}"></script>


<div hx-get="{% url 'sync:indexStats' %}" hx-trigger="every 5s, load"></div>
<div hx-get="{% url 'sync:indexStatsCharts' %}" hx-trigger="load"></div>

<div class="flex justify-between items-center mt-2 dark:bg-gray-700 px-2">
    <div>
        <h1 class="text-2xl font-bold dark:text-gray-200 mt-2">
            Running Jobs
        </h1>
        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Updated every 5 seconds</p>
    </div>
    <div>
        <a href="{% url 'sync:runJob' %}" class="p-2 text-gray-900 dark:text-white bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-700">Run Manual Job</a>
    </div>
</div>
<div hx-get="{% url 'sync:runningJobs' %}" hx-trigger="every 5s, load"></div>


<div class="flex justify-between items-center mt-2 dark:bg-gray-700 px-2">
    <div>
        <h1 class="text-2xl font-bold dark:text-gray-200 mt-2">
            Finished Jobs
        </h1>
        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Only the last 20 entries are shown here</p>
    </div>
    <div>
        <a href="{% url 'sync:runJob' %}" class="p-2 text-gray-900 dark:text-white bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-700">View All</a>
    </div>
</div>

<div hx-get="{% url 'sync:finishedJobs' %}" hx-trigger="every 5s, load"></div>
{% endblock content %}