{% extends "base.html" %}

{% block content %}
<form action="" method="POST" class="max-w-lg mx-auto">
    {% csrf_token %}
    <h1 class="block mt-2 text-xl text-gray-900 dark:text-white">Schedule Type</h1>
    <p class="block mb-2 text-gray-900 dark:text-gray-300">Choose the type of your remote</p>
    <div class="grid grid-cols-3 gap-2">
        {% for choice in form.type %}
        <label class="bg-gray-50 rounded-lg border border-gray-300 text-gray-900 text-sm block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:cursor-pointer dark:hover:bg-gray-800 dark:has-checked:bg-blue-500">
                <input 
                    type="radio" 
                    class="hidden" 
                    name="{{ form.type.name }}" 
                    value="{{ choice.data.value }}"
                >
                <div class="flex flex-col">
                    <span class="font-medium">{{ choice.data.label }}</span>
                </div>
            </label>
        {% endfor %}
    </div>

    <div class="mt-8">
        <h1 class="block mt-2 text-xl text-gray-900 dark:text-white">Remote configuration</h1>
        <p class="block mb-2 text-gray-900 dark:text-gray-300">Fill the information needed to create your remote.</p>
        <div id="dynamic-fields-container">
        </div>
    </div>

    <div class="mt-8">
        <label for="{{ form.name.id_for_label }}" class="block text-gray-900 dark:text-white">{{ form.name.label }}</label>
        <p class="block mb-2 text-gray-900 dark:text-gray-300">Give your remote a human redable name!</p>
        {{ form.name }}
    </div>

    {{ form.config }}
    <button type="submit" class="mt-2 hover:cursor-pointer text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Submit</button>
</form>
{% endblock content %}

{% block scripts_head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const radioButtons = document.querySelectorAll('input[name="{{ form.type.name }}"]');
        const configField = document.querySelector('input[name="config"]');
        const form = document.querySelector('form');
        const dynamicFieldsContainer = document.querySelector('#dynamic-fields-container');
        const remoteFields = {{ remote_fields|safe }};  // Assuming remote_fields is a dictionary in context

        // Add event listener to radio buttons
        radioButtons.forEach(radio => {
            radio.addEventListener('change', function() {
                const selectedType = this.value;  // Get the selected type
                updateConfigField(selectedType);
            });
        });

        form.addEventListener('submit', function(event) {
            serializeConfigField();
        });

        function updateConfigField(type) {
            // Clear the current config field
            configField.value = '';

            // Remove any existing dynamic fields
            const dynamicFields = document.querySelectorAll('.dynamic-field');
            dynamicFields.forEach(field => field.remove());

            // Add new fields based on the selected type
            const fields = remoteFields[type] || [];
            fields.forEach(field => {
                addDynamicField(field.replace('_', ' ').replace(/\b\w/g, l => l.toUpperCase()), field);
            });
        }

        function addDynamicField(labelText, fieldName) {
            const fieldContainer = document.createElement('div');

            const label = document.createElement('label');
            label.textContent = labelText;
            label.classList.add('dynamic-field', 'block', 'mt-2', 'text-gray-900', 'dark:text-white');

            const input = document.createElement('input');
            input.type = 'text';
            input.name = fieldName;
            input.classList.add('dynamic-field', 'bg-gray-50', 'border', 'border-gray-300', 'text-gray-900', 'text-sm', 'rounded-lg', 'focus:ring-blue-500', 'focus:border-blue-500', 'block', 'w-full', 'p-2.5', 'dark:bg-gray-700', 'dark:border-gray-600', 'dark:placeholder-gray-400', 'dark:text-white', 'dark:focus:ring-blue-500', 'dark:focus:border-blue-500');
            input.setAttribute('required', '');

            fieldContainer.appendChild(label);
            fieldContainer.appendChild(input);
            dynamicFieldsContainer.appendChild(fieldContainer);
        }

        function serializeConfigField() {
            const dynamicFields = document.querySelectorAll('.dynamic-field');
            const configData = {};
            dynamicFields.forEach(field => {
                configData[field.name] = field.value;
            });
            configField.value = JSON.stringify(configData);
        }

        // Trigger the updateConfigField function if a type is already selected
        const selectedType = document.querySelector('input[name="{{ form.type.name }}"]:checked');
        if (selectedType) {
            updateConfigField(selectedType.value);
        }
    });
</script>
{% endblock scripts_head %}